!!! 5
%html{:lang => "en"}
  %head
    %title= "CSIL Pollr"
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/app.css"}
  %body
    #status_box
    #header
      %h1= "CSIL @ UCSB"
    = table
    #footer
      %p.fleft
        Powered by
        %a{:href => "https://github.com/tjeezy/labmapper", :title => "View source on github"}= "labmapper"
      %p.fright.timestamp= timestamp
    %script{:src => "./js/jquery-1.7.2.min.js"}
    %script{:src => "./js/app.js"}
