<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSIL Pollr</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
  </head>
  <body>
    <!-- this is a work in progress. don't hate :) -->
    <div id="status_box"></div>
    <div id="header">
      <h1>CSIL @ UCSB</h1>
    </div>
    <table>
      <tr class="row laptops">
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
      </tr>
      <tr class="row empty"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr class="row flipped"><% status = lambda {|name| hosts[name] ? ' occupied' : ' available'} %><% [:cartman, :elroy, :dagwood, :calvin].each do |host| %>
        <td id="<%= host %>" class="machine<%= status.call(host) %>"></td><% end %>
        <td class="divider"></td><% [:snoopy, :blondie, :brain, :shaggy].each do |host| %>
        <td id="<%= host %>" class="machine<%= status.call(host) %>"></td><% end %>
      </tr>
      <tr class="row"><% [:dudley, :lupin, :scooby, :popey].each do |host| %>
        <td id="<%= host %>" class="machine<%= status.call(host) %>"></td><% end %>
        <td class="divider"></td><% [:kenny, :optimus, :bullwinkle, :wacko].each do |host| %>
        <td id="<%= host %>" class="machine<%= status.call(host) %>"></td><% end %>
      </tr>
      <tr class="row empty"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr class="row flipped">
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="divider"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
      </tr>
      <tr class="row">
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="divider"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
      </tr>
      <tr class="row empty"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr class="row flipped">
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="divider"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
      </tr>
      <tr class="row">
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="divider"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
        <td class="machine unnamed"></td>
      </tr>
    </table>
    <div id="footer">
      <p class="fleft"><a href="https://github.com/tjeezy/csilwho" title="View source on github">View source on github</a></p>
      <p class="fright timestamp"><%= timestamp %></p>
    </div>
    <script src="./jquery-1.7.2.min.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
